# directories
spark-warehouse/

# spark save file directory
file-*.csv/
file-*.txt/
file-*.parquet/

# files
file-*.csv
file-*.txt
file-*.parquet
dummy-*.ipynb
dummy-*.py
Untitled.txt

# ipython checkpoint
.ipynb_checkpoints/
